/* Default styles */
.app {
  border-radius: 12px;
  border-color: #115618;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: #CECECE;
}

app:hover {
  border-color: #115618;
}
app:focus,
app:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app-container {
  margin: 10px;
  width: 80%;
  min-width: 1000px;
  padding: 0 20px;
  text-align: center;
}


.spotlight__wrapper {
  border-radius: 12px;
  border-color: #115618;
  border: 1px solid transparent;
  margin: auto;
  max-width: 1000px;
  background-color: #fff;
  transition: border-color 0.25s;
}

.spotlight__wrapper:hover {
  border-color: #115618;
}
.spotlight__wrapper:focus,
.spotlight__wrapper:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.spotlight__input {
  display: block;
  height: 56px;
  width: 80%;
  margin: auto;
  max-width: 800px;
  border: 0;
  border-radius: 12px;
  outline: none;
  font-size: 1.2rem;
  color: #000;
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 3.5%;
  padding-left: 60px;
}

.spotlight__input::placeholder {
  line-height: 1.5em;
}

.spotlight__answer {
  min-height: 115px;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotlight__answer p::after {
  content: "";
  width: 2px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 2px;
  background: black;
}

.spotlight__wrapper,
.spotlight__input {
  width: 90%;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
  .app-container {
    margin: 50px;
    width: 100%;
  }
  
  .spotlight__wrapper {
    max-width: 100%;
  }
  
  .spotlight__input {
    width: 90%;
  }
}

/* Media queries for even smaller screens */
@media only screen and (max-width: 400px) {
  .app-container {
    margin: 20px;
  }
  
  .spotlight__input {
    width: 100%;
  }
}
